.question{
    &&--start{
        .question__body{
            padding: 0 45px;
        }
        .question__top{
            padding: 20px 10px 0;
        }
        .question__time{
            float: right;
            @media (max-width: 767px) {
                float: none;
            }
        }
        .question__var, .question__time{
            margin-bottom: 15px;
        }

    }
    &--answered{
        .question__opts {
            label {
                color: @gray;
                &:before {
                    visibility: hidden;
                }
            }
            label.answer-ok {
                color: @white;
                &:before {
                    visibility: visible;
                    color: @yellow;
                    background: @transparent;
                    &:after{
                        content: "ПРАВИЛЬНО";
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 4px;
                    }
                }
                .icon;
                .icon-tick;

            }
            label.answer-wrong {
                &:before {
                    visibility: visible;
                    color: @error;
                    background: @transparent;
                }
                color: @error;
                .icon;
                .icon-cross;
                &:after{
                    content: "НЕПРАВИЛЬНО";
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 4px;
                }
            }
        }
    }
    &--answered-wrong{
        .question__opts {
            label.answer-ok {

            }
        }
    }
    &__left{
        float: left;
        width: 360px;
        padding: 10px;
    }
    &__right{
        float: left;
        width: 220px;
        padding: 10px;
    }
    &__img{
        position: relative;
        img{
            width: 100%;
        }
        &:after{
            content: "";
            width: 115px;
            height: 42px;
            background: url("@{public}images/header/logo-ng-channel.svg");
            .background-size(cover);
            position: absolute;
            top:10px;
            right: 10px;
        }
    }
    &__top{
        padding: 20px 10px 0;
    }
    &__tl{
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 10px;

        padding: 5px 100px 0 10px;
    }
    &__var, &__time{
        color: @gray;
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
        text-align: center;
    }
    &__var {
        span{
            display: block;

            font-size: 72px;
            text-align: center;
        }
    }
    &__time {
        span.question__time-sec-value {
            display: block;

            font-size: 72px;
            text-align: center;
        }
    }
    &__body{
        lost-utility: clearfix;
        padding: 0 10px 10px;
    }
    &__state{
        list-style: none;
        padding: 0 10px 0 0;
        margin: 0 0 15px 0;
        float: right;
        li{
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 4px;
            color: @white;
            text-align: center;
            line-height: 24px;
            .box-sizing(border-box);
            border: 3px solid @yellow;
            &.active{
                background-color: @yellow;
                color: @black;
            }
        }
    }
    &-author{
        display: table;
        font-weight: 500;

        &__img{
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
        }
        &__info{
            display: table-cell;
            vertical-align: middle;
        }
        &__name{
            display: inline-block;
            text-transform: uppercase;
        }
        &__points{
            display: inline-block;
            color: @gray;
            text-transform: uppercase;
            margin-left: 4px;
        }
    }
    &__item{
        float: left;
        width: 60%;
        margin-top: 15px;
        padding-right: 10px;
        @media (max-width: 767px) {
            float: none;
            padding-right: 0;
            width: auto;
        }
    }
    &__add{
        float: left;
        width: 40%;
        @media (min-width: 768px) {
            .question__time{
                margin-top: -20px;
            }
        }
        @media (max-width: 767px) {
            float: none;
            width: auto;
        }
        .question__var{
            font-size: 36px;
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
    &__submit.btn{
        margin-top: 10px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
    }
    &__opts{
        input{
            display: none;
        }
        input:checked+label{
            &:before{
                color: @yellow;
            }
        }
        label{
            margin: 0 0 10px;
            display: block;
            &:before{
                content: "⚫";
                width: 18px;
                height: 18px;
                color: @white;
                text-align: center;
                line-height: 18px;
                background: @white;
                .border-radius(50%);
                display: inline-block;
                margin-right: 8px;
                vertical-align: top;
            }
        }
    }
    &__txt{
        .yellow{
            text-transform: uppercase;
        }
        font-weight: 500;
        margin-bottom: 15px;
    }
    @media (max-width: 767px) {
        &__var, &__time{
            display: block;
            float: none;
        }
        &__add{
            text-align: center;
        }
        &__tl{
            padding: 0;
            margin-top: 10px;
        }
        &__img{
            margin: 0px -10px;
        }
        &__body{
            padding: 0 10px 10px;
        }
        &__state{
            float: none;
        }
    }

    &--share, &--beeline, &--natgeo{
        margin: -20px;
        border: 20px solid @yellow;
        .question__img{
            &:after{
                top: auto;
                bottom: 18px;
            }
        }
        @media (max-width: 767px) {
            margin: 0 -10px -10px;
            border-width: 10px;
            .question__img{
                margin: 0;
            }
        }
    }
    &--beeline{
        background-color: @black;

        .question-author__img img {
            height : 60px;
        }
    }
    &--natgeo {
        .question-author__img img {
            height : 60px;
        }
    }
    &--beeline, &--natgeo{
        @media (max-width: 767px) {
            margin: 0 -10px 0;
        }
    }
    &-sharings{
        text-align: right;
        padding: 20px;
        &__head{
            display: inline-block;
            text-transform: uppercase;
            color: @white;
            font-weight: 500;
            line-height: 40px;
        }
    }

}
.share-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: fade(@black,20%);
    padding: 0 156px 15px 28px;

    &__sub{
        color: @yellow;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.quote {
    font-size: 23px;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    &:before{
        content:'«' ;
        margin-left: -20px;
        margin-top: -5px;
        display: inline-block;
    }
    &:after{
        content: '»';
        vertical-align: middle;
        margin-top: -5px;
        display: inline-block;
    }

    padding: 0;
}
