.social-list{
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    &__i{
        float: left;
        margin-right: 20px;
        .opacity(0.9);
        .transition(.5s opacity);
        &:hover{
            .opacity(1);
        }
    }
    &__lk{
        color: @white;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 5px;;
        text-decoration: none;
        .icon{
            font-size: 20px;
        }
    }
    &--sharings{
        float: right;
        &.social-list{
            white-space: nowrap;
            font-size: 0;
            .social-list__i{
                margin-right: 0;
                margin-left: 25px;
            }
            .social-list__lk{
                padding: 0;
                height: auto;
                line-height: normal;
            }
        }
        .icon{
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: @white;
            &:before{
                line-height: 40px;
                color: @white;
            }
            &.icon-vkontakte{
                background-color: @vkcolor;

            }
            &.icon-facebook{
                background-color: @fbcolor;
            }
            &.icon-twitter{
                background-color: @twcolor;

            }
        }
    }
}
.ya-share2{
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    .ya-share2__list_direction_horizontal > .ya-share2__item{
        margin-left: 25px;
    }
    .ya-share2__container_size_m .ya-share2__icon{
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 24px;
        background: none;
        &:before{
            line-height: 40px;
            color: @white;
        }
    }
    .ya-share2 .ya-share2__container_size_m .ya-share2__item_service_vkontakte .ya-share2__icon{
        background-color: @vkcolor;
        .icon;
        .icon-vkontakte;
    }
    .ya-share2 .ya-share2__container_size_m .ya-share2__item_service_facebook .ya-share2__icon{
        background-color: @fbcolor;
        .icon;
        .icon-facebook;
    }
    .ya-share2 .ya-share2__container_size_m .ya-share2__item_service_twitter .ya-share2__icon{
        background-color: @twcolor;
        .icon;
        .icon-twitter;
    }
}