.social-list{
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    &__i{
        float: left;
        margin-right: 20px;
        .opacity(0.9);
        .transition(.5s opacity);
        &:hover{
            .opacity(1);
        }
    }
    &__lk{
        color: @white;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 5px;;
        text-decoration: none;
        .icon{
            font-size: 20px;
        }
    }
    &--sharings{
        float: right;
        &.social-list{
            white-space: nowrap;
            font-size: 0;
            .social-list__i{
                margin-right: 0;
                margin-left: 25px;
            }
            .social-list__lk{
                padding: 0;
                height: auto;
                line-height: normal;
            }
        }
        .icon{
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: @white;
            &:before{
                line-height: 40px;
                color: @white;
            }
            &.icon-vkontakte{
                background-color: @vkcolor;

            }
            &.icon-facebook{
                background-color: @fbcolor;
            }
            &.icon-twitter{
                background-color: @twcolor;

            }
        }
    }
}